#Dados
{
    /*background-color: aqua;*/
    color:rgb(27, 137, 137);
    border: 5px solid;
}

#salto
{
    /*background-color: blanchedalmond;*/
    color:darkgrey;
}

#Check
{ 
    /*background-color: gold;*/
    color:goldenrod;

}