#Dados
{
    background-color: aqua;
    color:azure;
    border: 5px solid;
}

#salto
{
    background-color: blanchedalmond;
    color:darkgrey;
}

#Check
{ 
    background-color: gold;
    color:goldenrod;

}